@import "../styles/variables.scss";

#books {
    min-height: 0;
    min-width:0;
    margin: $margin-left-right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: $gap;
}

#strike {
    text-decoration: line-through;
    display: inline-block;
}


sup {
    vertical-align: top;
    font-size: $font-size-small;
}

.bookTitle {
    min-height: 0;
    min-width:0;
    margin-top: 30px;
}

.priceBook {
    margin-top: 16px;
    color: $primary-grey;
}

.book {
    min-height: 0;
    min-width:0;
    width: 100%;
}

.bookRenderingContainer {
    cursor: pointer;
    min-width: 0;
    min-height: 0;
    width: 100%;
    // height: 100%;
}

.imageContainer {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
}

.bookRenderingContainer img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1200px) {
    #books {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (max-width: 750px) {
    #books {
        grid-template-columns: 1fr;
    }

    .bookTitle {
        display: none;
    }

    .priceBook {
        margin-top: 8px;
    }

    .priceDesktop {
        display: none;
    }
}
