@import "../styles/variables.scss";

//Pages

#about,
#aboutProductPageWrapper,
.cartInfo,
#cartCheckoutInfos,
#stockists {
  display: grid;
  grid-column-gap: $gap;
  grid-template-columns: $grid;
  grid-template-rows: 1;
  padding: 0 $margin-left-right;
}

.cartInfo,
#cartCheckoutInfos {
  padding: 0;
}

.productPageCart {
  justify-self: end;
}

#aboutProductMobile {
  display: none;
}

//Gallery + Slides

#galleryProductPage {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  background-color: $primary-grey;
  height: 67vh;
  width: 100%;
  margin-bottom: $margin-top;
}

.imgContainerGallery {
  position: relative;
  display: block;
}

.imgContainerGallery img {
  height: 50vh;
  min-width: 100%;
  margin-right: 100px;
  display: inline-block;
  object-fit: contain;
}

.imgContainerGallery img:nth-last-child() {
  margin-right: 0px;
  margin-left: 0px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slides {
  position: absolute;
  transition: left 1s;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

//Cart

.cartInfo {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
  margin-top: 150px;
  margin-bottom: 18.5px;
}

#cartCheckoutInfos {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
}

.itemQuantity {
  min-width: 30px;
  margin-left: 3px;
  margin-right: 10px;
}

.cartListItem {
  color: $primary-grey;
  margin: 0;
}

//CartGrid

.cartCol1,
.cartCol1Checkout {
  grid-column: 1 / span 3;
}

.cartCol2 {
  width: 100%;
  grid-column: 5 / span 1;
}

.cartCol3 {
  width: 100%;
  grid-column: 6 / span 1;
}

.cartCol4 {
  width: 100%;
  text-align: end;
  grid-column: 8 / span 1;
}

.cartQuantity {
  display: flex;
}

.cartCol1Mobile {
  display: none;
}

//Grid layout

.col1 {
  grid-column: 1 / span 2;
}

.col2 {
  grid-column: 3 / span 2;
}

.col3 {
  grid-column: 5 / span 2;
}

.col4 {
  grid-column: 7 / span 2;
}

.cartInfo p {
  margin-bottom: 0;
}

@media (max-width: 1170px) {
  #about,
  #aboutProductPageWrapper,
  #stockists {
    grid-template-columns: $grid-tablet;
    grid-template-rows: 2;
  }

  #aboutProductMobile {
    padding: 0 $margin-left-right;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .cartInfo,
  #cartCheckoutInfos {
    grid-template-columns: repeat(5, 1fr);
  }

  .cartInfo {
    margin-top: 137px;
  }

  //CartGrid

  .cartCol1,
  .cartCol1Checkout {
    display: block;
    grid-column: 1 / span 2;
  }

  .cartCol2 {
    grid-column: 3 / span 1;
  }

  .cartCol3 {
    grid-column: 4 / span 1;
  }

  .cartCol4 {
    text-align: end;
    grid-column: 5 / span 1;
  }

  .hideMobile {
    display: none;
  }

  .col1 {
    grid-column: 1 / span 2;
  }

  .col2 {
    grid-column: 3 / span 2;
  }

  .col3 {
    grid-column: 1 / span 2;
  }

  .col4 {
    grid-column: 3 / span 2;
  }
}

@media (max-width: 750px) {
  #galleryProductPage {
    margin-top: 45px;
    height: 410px;
  }

  #sliderDots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #slides {
    margin-left: $margin-mobile;
  }

  .dot {
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-grey;
  }

  .dotActive {
    background-color: $secondary-gray;
  }

  #galleryProductPageMobile {
    margin-top: 45px;
    overflow: hidden;
    background-color: $primary-grey;
    height: 410px;
    display: flex;
    width: 100%;
    margin-bottom: $margin-top;
  }

  .slidesMobile {
    transition: transform 1s;
    width: 100vw;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
  }

  .imgContainerGallery {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .imgContainerGallery img {
    min-width: 100%;
    display: inline-block;
    object-fit: scale-down;
    height: 36vh;
  }

  .mobileCart img {
    width: 100vw;
  }

  #about,
  #aboutProductPageWrapper,
  #stockists {
    display: block;
  }

  .col1,
  .col2,
  .col3,
  .col4 {
    margin-bottom: $gap-mobile-bottom;
  }

  .itemQuantity {
    min-width: 20px;
  }

  .cartInfo {
    padding-top: 9px;
  }

  .cartCol1 {
    grid-column: 1 / span 5;
    padding-bottom: 18.5px;
    border-bottom: 1px solid $primary-color;
  }

  .cartCol2 {
    padding-top: 9px;
    grid-row-start: 2;
    grid-column: 1 / span 3;
  }

  .cartCol3 {
    padding-top: 9px;
    grid-row-start: 2;
    grid-column: 3 / span 1;
  }

  .cartCol4 {
    padding-top: 9px;
  }

  .cartCol1Checkout {
    display: none;
  }

  #cartCheckoutInfos {
    padding-top: 0px;

    .cartCol2 {
      grid-row-start: 1;
      grid-column: 1 / span 3;
    }

    .cartCol3 {
      grid-row-start: 1;
      grid-column: 3 / span 1;
    }

    .cartCol1Checkout {
      display: none;
    }

    .cartCol1Mobile {
      border-top: 1px solid $primary-color;
      margin-top: 18.5px;
      padding-top: 9px;
      display: block;
      grid-column: 1 / span 5;
    }
  }

}

@media (max-height: 800px) and (max-width: 750px) {
  .imgContainerGallery img {
    height: 43vh;
  }
}
