$background-color: #fff;
$primary-color: #000;
$primary-grey: #dddddd;
$secondary-gray: #9b9b9b;
$font: "Nuckle Book", sans-serif;
$margin-left-right: 1.0625rem;
$margin-top: 1.05rem;
$font-size: 1.5625rem;
$margin-bottom-primary: 13.5rem;
$margin-bottom-mobile: 3rem;
$margin-mobile: 0.625rem;
$font-size-small: 14px;
$grid: repeat(8, 1fr);
$grid-tablet: repeat(4, 1fr);
$gap: 1.875rem;
$gap-mobile-bottom: 3rem;