@import "../styles/variables.scss";

#books {
    min-height: 0;
    min-width:0;
    margin: $margin-left-right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: $gap;
}

#strike {
    text-decoration: line-through;
    display: inline-block;
}


sup {
    vertical-align: top;
    font-size: $font-size-small;
}

.bookTitle {
    min-height: 0;
    min-width:0;
    margin-top: 30px;
}

.price-book {
    margin-top: 16px;
    color: $primary-grey;
}

.book {
    min-height: 0;
    min-width:0;
    width: 100%;
}

.book-rendering-container {
    cursor: pointer;
    min-width: 0;
    min-height: 0;
    width: 100%;
    // height: 100%;
}

.book-rendering-container img{
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    display: inline-block;
    object-fit: contain;
}

@media (max-width: 1200px) {
    #books {
        grid-template-columns: 1fr 1fr;
    }

    #about-pool-books-wrapper {
        display: block;
        padding-bottom: 0px;
    }

}

@media (max-width: 750px) {
    #books {
        grid-template-columns: 1fr;
    }

    #about-pool-books-wrapper {
        display: block;
    }

    .bookTitle {
        display: none;
    }

    .price-book {
        margin-top: 8px;
    }

    .priceDesktop {
        display: none;
    }
}
