@import "../styles/variables.scss";

#books {
    min-height: 0;
    min-width:0;
    margin: $margin-left-right;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: $gap;
}

#aboutPoolBooksWrapper {
    min-height: 0;
    min-width:0;
    margin: $margin-left-right;
    display: grid;
    grid-template-columns: $grid;
    color: $primary-grey;
    grid-template-rows: 0;
    grid-column-gap: 1.875rem;
    font-family: $font;
    font-weight: 300;
}

#aboutPoolBooksWrapper a {
    color: $primary-grey;
}

#aboutPoolBooksWrapper a:hover {
    color: black;
}

#aboutPoolBooksAboutText {
    min-width:0;
    grid-column: 1 / span 4;
}

#aboutPoolBooksAboutAddress {
    min-height: 0;
    min-width:0;
    grid-column: 5 / span 3;
}

#aboutPoolBooksSocialMedia {
    min-height: 0;
    min-width:0;
    justify-self: end;
    grid-column: 7 / span 2;
}

sup {
    vertical-align: top;
    font-size: $font-size-small;
}

.bookTitle {
    min-height: 0;
    min-width:0;
    margin-top: 30px;
}

.priceMobile {
    min-height: 0;
    min-width:0;
    margin-top: 8px;
    color: $primary-grey;
    display: none;
}

.book {
    min-height: 0;
    min-width:0;
    width: 100%;
}

.bookRenderingContainer {
    cursor: pointer;
    min-width: 0;
    min-height: 0;
    width: 100%;
    // height: 100%;
}

.bookRenderingContainer img{
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    display: inline-block;
    object-fit: contain;
}

@media (max-width: 1100px) {
    #books {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    #books {
        grid-template-columns: 1fr;
    }

    #aboutPoolBooksWrapper {
        display: block;
    }

    .bookTitle {
        display: none;
    }

    .priceMobile {
        display: block;
    }

    .priceDesktop {
        display: none;
    }
}
