@import "../styles/index.scss";
@import "./header.scss";

#formsDiv {
  transition: all 0.5s linear;
}

#forms {
  scroll-behavior: smooth;
  position: relative;
  z-index: -10;
  height: 100vh;
  width: 100%;
  overflow: auto;
  transition: all ease 1s;
}

.formItem {
  padding: 1rem;
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 750px) {
  #forms {
    //this is a fallback
    // height: 100vh;
    //this makes the height: 100% on mobile
    height: 100vh;
  }
}
