@import "../styles/index.scss";

#headerMain {
  background-color: $background-color;
  position: fixed;
  grid-column-gap: $gap;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: grid;
  grid-template-columns: $grid;
  grid-template-rows: 0; 
  padding: $margin-top $margin-left-right;
  transition: all ease 1s;
  margin-bottom: $margin-bottom-primary;
  z-index: 10;
  transition: ease all 0.3s;
}

#headerMainLandingPage {
  min-width: 0;
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 20px;
  //fixed height to make the jumping stop when resizing
  height: 30px;
  z-index: 9;
  display: grid;
  grid-template-columns: $grid;
  grid-template-rows: 0;
  background-color: transparent;
  padding: 0 $margin-left-right $margin-top $margin-left-right;
  transition: all ease 1s;
}

#headerMainLandingPage {
  padding: 0 $margin-left-right;
}


#mobileNav {
  transition: all 0.5s;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: $primary-grey;
  margin: 0;
  padding: 0.625rem;
  height: 100%;
  transform: translateY(-100%);
}

#mobileNestedNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 10px;
}

#mobileNestedNav a {
  width: 100%;
  display: block;
  padding: 5px 0;
  border-top: solid 1px $secondary-gray;
}

#mobileNestedNav a:nth-last-child(1) {
  border-bottom: solid 1px $secondary-gray;
}

#mobileNav a:hover {
  color: $secondary-gray;
}

#beanWrapper {
  margin: 0 1px;
}

.bean {
  fill: $primary-color;
}

#burgerWrapper {
  transition: ease 0.3;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  width: 24px;
  height: 24px;
}

.close:before, .close:after {
  position: fixed;
  content: ' ';
  height: 25px;
  width: 1.4px;
  background-color: $secondary-gray;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


#burgerIcon {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: $margin-left-right;
}

#burgerX {
  // float: right;
  cursor: pointer;
}

#x {
  stroke: $secondary-gray;
}

#navMain {
  grid-column: 5 / span 2;
}

#cartMain {
  justify-self: end;
  grid-column: 7 / span 2;
}

#h1Main {
  cursor: pointer;
  grid-column: 1 / span 4;
}

#h1Main:hover {
  transition: all ease 1s;
}

@media (max-width: 1100px) {
  #navMain {
    display: none;
  }
  #headerMain, #headerMainLandingPage {
    // padding-top: 19px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
}

@media (max-width: 750px) {
  #headerMain {
    font-size: $font-size-small;
    margin-bottom: $margin-bottom-mobile;
    // padding-top: 0;
  }

  #headerMainLandingPage {
    font-size: $font-size-small;
    bottom: 0px;
  }

  #h1Main {
 
    font-size: $font-size-small;
  }

  #mobileNav {
    font-size: $font-size-small;
  }
}
