@import "../styles/variables.scss";

#header-main {
  background-color: $background-color;
  position: fixed;
  grid-column-gap: $gap;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: grid;
  grid-template-columns: $grid;
  grid-template-rows: 0;
  padding: $margin-top $margin-left-right;
  transition: all ease 1s;
  margin-bottom: $margin-bottom-primary;
  z-index: 10;
  transition: ease all 1s;
}

#header-main-landing-page {
  min-width: 0;
  width: 100%;
  position: absolute;
  bottom: 25px;
  //fixed height to make the jumping stop when resizing
  height: 30px;
  z-index: 9;
  display: grid;
  grid-template-columns: $grid;
  grid-template-rows: 0;
  padding: 0 $margin-left-right $margin-top $margin-left-right;
}

#header-main-landing-page {
  padding: $margin-top $margin-left-right;
  grid-column-gap: 1.875rem;
}

#mobile-nav {
  transition: all 0.5s;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: $primary-grey;
  margin: 0;
  padding: 0.625rem;
  height: 100%;
  transform: translateY(-100%);
}

#mobile-nested-nav {
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 10px;
}

#mobile-nested-nav a,
#mobile-nested-nav .link-mobile-menu {
  line-height: 1;
  width: 100%;
  display: block;
  padding: 10px 0 4px 0;
  border-top: solid 1px $secondary-gray;
}

#text {
  display: inline-block;
  // transition: ease 0.4s all;
}

#cart-mobile {
  border-bottom: solid 1px $secondary-gray;
}

#privacy-mobile {
  border-bottom: solid 1px $secondary-gray;
}

// #mobile-nested-nav a:nth-last-child(1) {
//   border-bottom: solid 1px $secondary-gray;
// }

// #mobile-navLastChild {
//   border-bottom: solid 1px $secondary-gray;
//   margin-bottom: 20px;
//   padding-bottom: 0;
//   // padding: 10px 0 0px 0;
// }

#mobile-nested-nav .link-mobile-menu:nth-child(1) {
  border-top: none;
  padding-top: 0;
}

#mobile-nav a:hover {
  color: $secondary-gray;
}

#pool-text {
  display: inline-block;
  // transition: ease 0.4s all;
}

#bean-wrapper {
  transition: ease 0.4s all;
  margin: 0 1px;
}

.bean {
  fill: $primary-color;
}

#burger-wrapper {
  transition: ease 0.3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: $margin-left-right/2;
}

.close {
  // display: flex;
  // justify-content: center;
  cursor: pointer;
  position: fixed;
  width: 24px;
  height: 24px;
}

.close:before,
.close:after {
  position: fixed;
  content: " ";
  height: 25px;
  width: 1.4px;
  background-color: $secondary-gray;
}

.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#burgerIcon {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding-right: $margin-left-right;
}

#burgerX {
  // float: right;
  cursor: pointer;
}

#x {
  stroke: $secondary-gray;
}

#nav-main,
#nav-mainLanding {
  grid-column: 5 / span 3;
}

#nav-mainLanding a:nth-child(1) {
  transition: color 0.5s linear;
}

#nav-mainLanding a:nth-child(1):hover {
  transition: color 0.1s linear;
  color: $primary-grey;
}

#cart-main {
  justify-self: end;
  grid-column: 7 / span 2;
}

#h1-main {
  z-index: 101;
  cursor: default;
  grid-column: 1 / span 4;
  transition: opacity ease 0.4s;
}

#h1-main span {
  transition: opacity ease 1s;
}

#h1-main:hover {
  transition: all ease 1s;
}

.menu-main {
  display: none;
}

@media (max-width: 1200px) {
  #h1-main {
    cursor: pointer;
  }

  .cart-main {
    display: none;
  }

  .menu-main {
    display: inline-block;
  }

  #nav-main {
    display: none;
  }
  #header-main,
  #header-main-landing-page {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  #mobile-nested-nav {
    height: 98%;
  }

  #h1-mobile {
    transition: all 0.3s ease;
    margin-top: 7px;
  }

  #mobile-nested-nav a,
  #mobile-nested-nav .link-mobile-menu {
    padding: 6px 0 4px 0;
  }

  #mobile-navLastChild {
    padding: 0;
  }

  #header-main {
    font-size: $font-size-small;
    height: 50px;
    margin-bottom: $margin-bottom-mobile;
  }

  #header-main-landing-page {
    font-size: $font-size-small;
    bottom: 15px;
  }

  #h1-main {
    cursor: pointer;
    font-size: $font-size-small;
  }

  #mobile-nav {
    font-size: $font-size-small;
  }
}
