@import "../styles/variables.scss";

#imprint {
  display: grid;
  grid-column-gap: $gap;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  padding: 0 $margin-left-right;
  transition: all ease 1s;
}

@media (max-width: 750px) {
  #imprint {
    display: block;
  }
}
