@import "../styles/variables.scss";

//Pages

#about,
#about-product-page-wrapper,
#cart-info,
#cart-checkout-infos,
#stockists {
  display: grid;
  grid-column-gap: $gap;
  grid-template-columns: $grid;
  grid-template-rows: 1;
  padding: 0 $margin-left-right;
}

#cart-info,
#cart-checkout-infos {
  padding: 0;
}

.product-page-cart {
  justify-self: end;
}

#about-product-mobile {
  display: none;
}

//Gallery + Slides

#gallery-product-page {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  background-color: $primary-grey;
  height: 67vh;
  width: 100%;
  margin-bottom: $margin-top;
}

.img-container-gallery {
  position: relative;
  display: block;
}

.img-container-gallery img {
  height: 50vh;
  min-width: 100%;
  margin-right: 100px;
  display: inline-block;
  object-fit: contain;
}

.img-container-gallery img:nth-last-child() {
  margin-right: 0px;
  margin-left: 0px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slides {
  position: absolute;
  transition: left 1s;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

//Cart

#cart-info {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
  margin-top: 150px;
}

#cart-checkout-infos {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
}

.cart-list-item {
  color: $primary-grey;
}

#cart-list-quantity p {
  margin: 0;
}

.cart-list-quantity-inline {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.item-quantity {
  min-width: 80px;
}

.cart-general {
  grid-column: 1 / span 3;
}

.cart-price-subtotal {
  grid-column: 5 / span 1;
}

.cart-subtotal {
  text-align: end;
  grid-column: 8 / span 1;
}

@media (max-width: 1170px) {
  #about,
  #about-product-page-wrapper,
  #stockists {
    grid-template-columns: $grid-tablet;
    grid-template-rows: 2;
  }

  #about-product-mobile {
    padding: 0 $margin-left-right;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #cart-info,
  #cart-checkout-infos {
    grid-column-gap: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 $margin-left-right;
  }

  #cart-info {
    margin-top: 137px;
  }

  .cart-subtotal {
    grid-column: 4 / span 1;
  }

  .cart-general {
    grid-column: 1 / span 1;
  }

  .cart-price-subtotal {
    grid-column: 2 / span 1;
  }

  .hide-mobile {
    display: none;
  }
}

@media (max-width: 750px) {
  #gallery-product-page {
    margin-top: 45px;
    height: 410px;
  }

  #slider-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #slides {
    margin-left: $margin-mobile;
  }

  .dot {
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-grey;
  }

  .dotActive {
    background-color: $secondary-gray;
  }

  #gallery-product-page-mobile {
    margin-top: 45px;
    overflow: hidden;
    background-color: $primary-grey;
    height: 410px;
    display: flex;
    width: 100%;
    margin-bottom: $margin-top;
  }

  #slides-mobile {
    transition: transform 1s;
    width: 100vw;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
  }

  .img-container-gallery {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .img-container-gallery img {
    min-width: 100%;
    display: inline-block;
    object-fit: scale-down;
    height: 36vh;
  }

  .slides:nth-child(1) {
    background-color: red;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .mobile-cart img {
    width: 100vw;
  }

  #about,
  #about-product-page-wrapper,
  #stockists {
    display: block;
  }

  .cart-list-quantity-inline {
    width: 80px;
  }
  
  .item-quantity {
    min-width: 50px;
  }
}

@media (max-height: 800px) and (max-width: 750px) {
  .img-container-gallery img {
    height: 43vh;
  }
}
