@import "../styles/variables.scss";

//Pages

#about,
#aboutProductPageWrapper,
#cartInfo,
#cartCheckoutInfos,
#stockists {
  display: grid;
  grid-column-gap: $gap;
  grid-template-columns: $grid;
  grid-template-rows: 1;
  padding: 0 $margin-left-right;
}

#cartInfo,
#cartCheckoutInfos {
  padding: 0;
}

.productPageCart {
  justify-self: end;
}

#aboutProductMobile {
  display: none;
}

//Gallery + Slides

#galleryProductPage {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  background-color: $primary-grey;
  height: 67vh;
  width: 100%;
  margin-bottom: $margin-top;
}

.imgContainerGallery {
  position: relative;
  display: block;
}

.imgContainerGallery img {
  height: 50vh;
  min-width: 100%;
  margin-right: 100px;
  display: inline-block;
  object-fit: contain;
}

.imgContainerGallery img:nth-last-child() {
  margin-right: 0px;
  margin-left: 0px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slides {
  position: absolute;
  transition: left 1s;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

//Cart

#cartInfo {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
  margin-top: 150px;
}

#cartCheckoutInfos {
  border-top: 1px solid $primary-color;
  margin: 0 $margin-left-right;
  padding-top: 18.5px;
}

.cartListItem {
  color: $primary-grey;
}

#cartListQuantity p {
  margin: 0;
}

.cartListQuantityInline {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.itemQuantity {
  min-width: 80px;
}

.cartGeneral {
  grid-column: 1 / span 3;
}

.cartPriceSubtotal {
  grid-column: 5 / span 1;
}

.cartSubtotal {
  text-align: end;
  grid-column: 8 / span 1;
}

@media (max-width: 1170px) {
  #about,
  #aboutProductPageWrapper,
  #stockists {
    grid-template-columns: $grid-tablet;
    grid-template-rows: 2;
  }

  #aboutProductMobile {
    padding: 0 $margin-left-right;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #cartInfo,
  #cartCheckoutInfos {
    grid-column-gap: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 $margin-left-right;
  }

  #cartInfo {
    margin-top: 137px;
  }

  .cartSubtotal {
    grid-column: 4 / span 1;
  }

  .cartGeneral {
    grid-column: 1 / span 1;
  }

  .cartPriceSubtotal {
    grid-column: 2 / span 1;
  }

  .hideMobile {
    display: none;
  }
}

@media (max-width: 750px) {
  #galleryProductPage {
    margin-top: 45px;
    height: 410px;
  }

  #sliderDots {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #slides {
    margin-left: $margin-mobile;
  }

  .dot {
    margin: 0 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-grey;
  }

  .dotActive {
    background-color: $secondary-gray;
  }

  #galleryProductPageMobile {
    margin-top: 45px;
    overflow: hidden;
    background-color: $primary-grey;
    height: 410px;
    display: flex;
    width: 100%;
    margin-bottom: $margin-top;
  }

  #slidesMobile {
    transition: transform 1s;
    width: 100vw;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
  }

  .imgContainerGallery {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .imgContainerGallery img {
    min-width: 100%;
    display: inline-block;
    object-fit: scale-down;
    height: 36vh;
  }

  .slides:nth-child(1) {
    background-color: red;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .mobileCart img {
    width: 100vw;
  }

  #about,
  #aboutProductPageWrapper,
  #stockists {
    display: block;
  }

  .cartListQuantityInline {
    width: 80px;
  }
  
  .itemQuantity {
    min-width: 50px;
  }
}

@media (max-height: 800px) and (max-width: 750px) {
  .imgContainerGallery img {
    height: 43vh;
  }
}
