@import "../styles/variables.scss";

#stockings {
    display: grid;
    grid-column-gap: $gap;
    grid-template-columns: $grid;
    grid-template-rows: 1;
    padding: 0 $margin-left-right;
    transition: all ease 1s;
}

.col2Stockings {
    grid-column: 3 / span 2;
}

.col3Stockings {
    grid-column: 5 / span 2;
}

.col4Stockings {
    grid-column: 7 / span 2;
}


@media (max-width: 1100px) {
    .col2Stockings {
        grid-column: 1 / span 4;
    }
    
    .col3Stockings {
        grid-column: 5 / span 8;
    }
    
    .col4Stockings {
        grid-column: 1 / span 4
  }
  
  @media (max-width: 750px) {
    #stockings {
      display: block;
    }
  }
}
  